#ifndef _HYPERTESTER_QUERY_H_
#define _HYPERTESTER_QUERY_H_


{% for query in ingress_queries %}

control {{ query.name }} {
    {% for primitive in query.primitives %}
    {% if primitive.prev is None %}
    {{ primitive.name }} ();
    {% else %}
    {% if primitive.prev.type is "MAP" %}
    {{ primitive.name }} ();
    {% elif primitive.prev.type is "REDUCE" %}
    {{ primitive.name }} ();
    {% elif primitive.prev.type is "FILTER" %}    
    if ({{ primitive.name }}_md.output == PASS) {
        {{ primitive.name }} ();
    }
    {% elif primitive.prev.type is "DISTINCT" %}    
    if ({{ primitive.name }}_md.output == DISTINCT) {
        {{ primitive.name }} ();
    }
    {% endif %}
    {% endif %}
    {% endfor %}
}   

{% endfor %}

{% for query in egress_queries %}

control {{ query.name }} {
    {% for primitive in query.primitives %}
    {% if primitive.prev is None %} 
    {{ primitive.name }} ();
    {% else %}
    {% if primitive.prev.type is "MAP" %}
    {{ primitive.name }} ();
    {% elif primitive.prev.type is "REDUCE" %}
    {{ primitive.name }} ();
    {% elif primitive.prev.type is "FILTER" %}    
    if ({{ primitive.name }}_md.output == PASS) {
        {{ primitive.name }} ();
    }
    {% elif primitive.prev.type is "DISTINCT" %}    
    if ({{ primitive.name }}_md.output == DISTINCT) {
        {{ primitive.name }} ();
    }
    {% endif %}
    {% endif %}
    {% endfor %}
}   
{% endfor %}

control query_ingress {
    {% for query in ingress_queries %}
    {{ query.name }} ();
    {% endfor %}
}

control query_egress {
    {% for query in egress_queries %}
    {{ query.name }} ();
    {% endfor %}
}

#endif /* _HYPERTESTER_QUERY_H_ */