{% if len(replicators) > 1 %}
	{% for replicator in replicators %}
		{% if replicator.type is "FULL_SPEED" %}
        {% for template in replicator.templates %}
		table add select_replicator goto_fs_replicator {{ template.id }} =>
        {% endfor %}
		{% elif replicator.type is "CONSTANT_RATE" %}
		{% for template in replicator.templates %}
		table add select_replicator goto_cr_replicator {{ template.id }} =>
        {% endfor %}
		{% elif replicator.type is "RANDOM_RATE" %}
		{% for template in replicator.templates %}
		table add select_replicator goto_rr_replicator {{ template.id }} =>
        {% endfor %}
		{% endif %}
	{% endfor %}
	}
{% endif %}
{% for replicator in replicators %}
    {% if replicator.type is "FULL_SPEED" %}
    {% for template in replicator.templates %}
    table add fs_replicate do_multicast {{ template.id }} => {{ template.multicast_grp }}
    {% endfor %}
    {% elif replicator.type is "CONSTANT_RATE" %}
    {% for template in replicator.templates %}
    table add load_cr_timestamp do_load_cr_timestamp {{ template.id }} => {{ template.reg_id }}
    table add cr_replicate do_multicast {{ template.id }} => {{ template.multicast_grp }}
    {% endfor %}
    {% elif replicator.type is "RANDOM_RATE" %}
    {% for template in replicator.templates %}
    table add load_rr_timestamp do_load_rr_timestamp {{ template.id }} => {{ template.reg_id }}
    table add rr_replicate do_multicast {{ template.id }} => {{ template.multicast_grp }}
    {% for slice in template.slices  %}
    table add get_rr_interval do_get_rr_interval {{ template.id }} {{ slice.low }}-{{ slice.high }} => {{ slice.low_value_bound }} {{ slice.high_value_bound }}
    {% endfor %}
    {% endfor %}
    {% endif %}
{% endfor %}
